# Git
.git
.gitignore
.github

# Node
node_modules
npm-debug.log
yarn-error.log

# Build outputs
client/dist
server/dist
dist
build

# Environment variables
.env
.env.local
.env.test

# OS Files
.DS_Store
Thumbs.db

# Databases
*.db
*.db-journal
dev.db
test.db

# IDEs and Editors
.vscode
.idea
*.swp

# Husky and Linting
.husky
.eslintcache
eslint.config.js
eslint.config.mjs
